body {
    margin: 0;
    font-family: Arial;
    background: #0b0f14;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    color: orange;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

/* HERO */
.hero {
    padding: 80px 50px;
}

.tag {
    color: gray;
    letter-spacing: 2px;
}

.hero h1 {
    font-size: 60px;
    margin: 20px 0;
}

/* BUTTONS */
.buttons {
    margin-top: 20px;
}

.primary {
    background: orange;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
}

.secondary {
    background: #1c1c1c;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 8px;
}

/* SECTIONS */
section {
    padding: 50px;
}

h2 {
    margin-bottom: 20px;
    color: #ff8c00;
}

/* FORM */
input {
    display: block;
    margin: 10px 0;
    padding: 12px;
    width: 250px;
}

button {
    padding: 10px 20px;
}