body {
    margin: 0;
    font-family: Arial;
    background: #0f0a1f;
    color: #e6d6ff;
}

/* SMOOTH SCROLL */
html {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    color: #c084fc;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: #e6d6ff;
    text-decoration: none;
}

/* CONTACT BUTTON */
.btn {
    background: #c084fc;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
}

/* HERO */
.hero {
    padding: 80px 50px;
}

.tag {
    color: #a78bfa;
}

.hero h1 {
    font-size: 55px;
}

.hero span {
    color: #c084fc;
}

/* BUTTONS */
.primary {
    background: #c084fc;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

.secondary {
    background: transparent;
    border: 1px solid #c084fc;
    padding: 15px 25px;
    border-radius: 10px;
    color: #c084fc;
}

/* SECTIONS */
section {
    padding: 60px 50px;
}

h2 {
    color: #c084fc;
}

/* SKILLS */
.skill {
    margin-bottom: 20px;
}

.bar {
    height: 8px;
    background: #2a1f4a;
    border-radius: 5px;
}

.bar div {
    height: 100%;
    background: linear-gradient(to right, #c084fc, #a78bfa);
    border-radius: 5px;
}

/* CONTACT FORM */
form {
    margin-top: 20px;
}

input {
    display: block;
    margin: 10px 0;
    padding: 12px;
    width: 280px;
    border-radius: 8px;
    border: none;
    background: #1c1533;
    color: white;
}

button {
    margin-top: 10px;
    padding: 12px 20px;
    background: #c084fc;
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

button:hover {
    background: #a855f7;
}

/* ANIMATION */
.fade-in {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}